{% extends 'base.html' %}


{% block head %}
<title>RVG Rental & Service Contract Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Contract - Payment Plan</h1>

    <p style="color: azure;">
    <table style="width: 50%;  border: transparent; font-family: monospace;">
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Contract ID:</td><td style="width: 45%;">{{ header.contract_id }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Business Partner:</td><td>{{ header.bpartner_name }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Product:</td><td>{{ header.product_name }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Startdate:</td><td>{{ header.startdate }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Duration:</td><td>{{ header.duration }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Currency:</td><td>{{ header.currency }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Cancelled:</td><td>{{ header.cancelled }}</td>
        </tr>
        <tr>
            <td style="width: 15%; font-family: sans-serif;">Completed:</td><td>{{ header.completed }}</td>
        </tr>
        
    </table>
    </p>
</div>
<br>

<div class="content">
    <table>
        <tr>
            <th class="col-md-1" style="text-align: right;">Instalment</th>
            <th class="col-md-2" >Type</th>
            <th class="col-md-2" style="text-align: right;">Invoice Date</th>
            <th class="col-md-2" style="text-align: right;">Amount</th>
            <th class="col-md-2" style="text-align: right;">Paid</th>
            <th class="col-md-2" style="text-align: right;">Balance</th>
        </tr>
        {% for row in rows %}
            {% if row.past is sameas true %}
                <tr style="background-color: darkslategrey;">
                    <td class="col-md-1" style="text-align: right;">{{ row.instalment }}</td>
                    <td class="col-md-2" >{{ row.type }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.invoicedate }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.amount }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.totalpaid }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.balance }}</td>
                </tr>

            {% elif row.present is sameas true %}
                <tr style="background-color: goldenrod;">
                    <td class="col-md-1" style="text-align: right;">{{ row.instalment }}</td>
                    <td class="col-md-2" >{{ row.type }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.invoicedate }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.amount }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.totalpaid }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.balance }}</td>
                </tr>

            {% else %}
                <tr>
                    <td class="col-md-1" style="text-align: right;">{{ row.instalment }}</td>
                    <td class="col-md-2" >{{ row.type }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.invoicedate }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.amount }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.totalpaid }}</td>
                    <td class="col-md-2" style="text-align: right;">{{ row.balance }}</td>
                </tr>
            {%- endif %}

        {% endfor %}
    </table>
</div>

   
{% endblock %}