{% extends 'base.html' %}


{% block head %}
<title>RVG Rental & Service Contract Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Contracts</h1>



<div class="content">
    <form class="form-horizontal" action="/contractupdate/{{contract.contract_id}}" method="POST">
        <fieldset>
        
        <!-- Form Name -->
        <legend style="color: rgb(137, 216, 216);">update contract</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="bpartner_name">Business Partner</label>
            <div class="col-md-4">
                <select id="bpartner_name" name="bpartner_name">
                    <option>-- choose business partner --</option>
                    {% for bpartner in bpartners %}
                    <option {% if contract.bpartner_name == bpartner.ctlastname + ", " + bpartner.ctfirstname + ", " + bpartner.bpplace %} selected {% endif %}>{{ bpartner.ctlastname + ", " + bpartner.ctfirstname + ", " + bpartner.bpplace }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Select List -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="product_name">Product</label>
            <div class="col-md-4">
                <select id="product_name" name="product_name">
                    {% for product in products %}
                    <option {% if contract.product_name == product.product_name %} selected {% endif %}>{{ product.product_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="startdate">Start</label>  
            <div class="col-md-4">
                <input id="startdate" name="startdate" type="text" placeholder="" value="{{contract.startdate}}" class="form-control input-md">
                
            </div>
        </div>
        
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="bpartner_name">Name</label>  
            <div class="col-md-4">
                <input id="bpartner_name" name="bpartner_name" type="text" placeholder="" value="{{contract.bpartner_name}}" class="form-control input-md">
                
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="duration">Duration</label>  
            <div class="col-md-4">
                <input id="duration" name="duration" type="text" placeholder="" value="{{contract.duration}}" class="form-control input-md">
                
            </div>
        </div>
        
         <!-- Select List -->
         <div class="form-group">
            <label class="col-md-4 control-label" for="currency">Cur</label>
            <div class="col-md-4">
                <select id="currency" name="currency">
                    <option {% if contract.currency == 'CZK' %} selected {% endif %}>CZK</option>
                    <option {% if contract.currency == 'EUR' %} selected {% endif %}>EUR</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="initial_fee">1st</label>  
            <div class="col-md-4">
                <input id="initial_fee" name="initial_fee" type="text" placeholder="" value="{{contract.initial_fee}}" class="form-control input-md">
                
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="regular_fee">Regular</label>  
            <div class="col-md-4">
                <input id="regular_fee" name="regular_fee" type="text" placeholder="" value="{{contract.regular_fee}}" class="form-control input-md">
                
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="purch_amnt">Final</label>  
            <div class="col-md-4">
                <input id="purch_amnt" name="purch_amnt" type="text" placeholder=""  value="{{contract.purch_amnt}}" class="form-control input-md">
                
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cancelled">CXL</label>  
            <div class="col-md-4">
                <input id="cancelled" name="cancelled" type="text" placeholder="" value="{{contract.cancelled}}"  class="form-control input-md">
                
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="completed">CPLT</label>  
            <div class="col-md-4">
                <input id="completed" name="completed" type="text" placeholder="" value="{{contract.completed}}" class="form-control input-md">
                
            </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary" value="Update">Submit</button>
            </div>
        </div>
        
        </fieldset>
    </form>
</div>
    
{% endblock %}