{% extends 'base.html' %}


{% block head %}
<title>RVG Rental & Service Lease Contract Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h2>RVG LEASE CONTRACT MANAGER</h2>
</div>
<br>

<div class="content">
    <h3>Main Menu:</h3>
</div>
<br>
<br>
<br>
<div class="content">
    <h4><a style="color: azure;" href="/bpartner">Add/Edit/Delete Business Partners</a></h4>
</div>
<br>
<br>
<br>
<div class="content">
    <h4><a style="color: azure;" href="/prod">Add/Edit/Delete Products</a></h4>
</div>
<br>
<br>
<br>
<div class="content">
    <h4><a style="color: azure;" href="/contract">Add/Edit/Delete Contracts</a></h4>
</div>
<br>
<br>
<br>
<div class="content">
    <h4><a style="color: azure;" href="/reports">REPORTS</a></h4>
</div>
   
{% endblock %}